<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.passwordmanager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PasswordManager"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activites.LeaksSettingsActivity"
            android:theme="@style/Theme.noActionBar"
            android:parentActivityName=".activites.VaultActivity"/>
        <activity
            android:name=".activites.paymentcards.AddPaymentCardActivity"
            android:parentActivityName=".activites.paymentcards.PaymentCardVaultActivity"
            android:theme="@style/Theme.noActionBar" />
        <activity
            android:name=".activites.paymentcards.PaymentCardVaultActivity"
            android:parentActivityName=".activites.VaultActivity" />
        <activity
            android:name=".activites.notes.AddNoteActivity"
            android:parentActivityName=".activites.notes.NotesVaultActivity"
            android:theme="@style/Theme.noActionBar" />
        <activity
            android:name=".activites.notes.NotesVaultActivity"
            android:parentActivityName=".activites.VaultActivity" />
        <activity android:name=".user.SignupActivity" />
        <activity
            android:name=".activites.passwords.PasswordGeneratorActivity"
            android:parentActivityName=".activites.passwords.AddPasswordActivity" />
        <activity
            android:name=".activites.passwords.AddPasswordActivity"
            android:parentActivityName=".activites.passwords.PasswordsVaultActivity"
            android:theme="@style/Theme.noActionBar" />
        <activity
            android:name=".activites.passwords.PasswordsVaultActivity"
            android:parentActivityName=".activites.VaultActivity" />
        <activity
            android:name=".activites.VaultActivity"
            android:theme="@style/Theme.noActionBar" />
        <activity android:name=".user.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>